{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <style>
        .profile-pic {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
            object-position: center;
            background-color: #ccc;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="logo">Instagram Анализ</a>
            <ul class="nav-links">
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'profile' %}">Профиль</a></li>
                <li><a href="{% url 'logout' %}">Выйти</a></li>
            </ul>
        </div>
    </nav>

    <div class="content">
        <div class="container">
            <div class="profile-container">
                <h1>Профиль пользователя</h1>
                <div class="profile-info">
                    {% if user.userprofile.avatar %}
                        <img src="{{ user.userprofile.avatar.url }}" alt="Profile Picture" class="profile-pic">
                    {% else %}
                        <div class="profile-pic"></div>
                    {% endif %}
                    <div class="user-details">
                        <h2>{{ user.username }}</h2>
                        <p><strong>Полное имя:</strong> {{ user.first_name }} {{ user.last_name }}</p>
                        <p><strong>Электронная почта:</strong> {{ user.email }}</p>
                        <a href="{% url 'edit_profile' %}" class="btn">Редактировать профиль</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
