<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Письмо для сброса пароля</title>
</head>
<body>
    <h2>Сброс пароля</h2>
    <p>Здравствуйте!</p>
    <p>Вы запросили сброс пароля. Для завершения процесса сброса пароля, введите следующий код на странице сброса пароля:</p>
    <p><strong>Код для сброса пароля:</strong> {{ reset_code }}</p>
    <p>Если вы не запрашивали сброс пароля, проигнорируйте это сообщение.</p>
    <p>С уважением,<br>Ваша команда сайта</p>
</body>
</html>
